/* CUSTOM CSS */

/* https://3duewelsteene.github.io/ */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

.Nav-Title {
  font-size: xx-large;
  font-weight: bolder;
  color: rgb(70, 70, 70);
}

@media (max-width: 480px) {
  .Nav-Title {
    font-size: x-large;
  }
}

@media (max-width: 390px) {
  .Nav-Title {
    font-size: large;
  }
}

@media (max-width: 350px) {
  .Nav-Title {
    font-size: small;
  }
}

@media (max-width: 320px) {
  .Nav-Title {
    font-size: x-small;
  }
}




/* FEEDBACK MODAL BACKGROUND */

#submitted {
  background-color: rgba(0, 0, 0, 0.5);
}


/* COLOURS FOR CERTAINTY 3D MODELL */

.redZero {
  color: #C87557;

}

.orangeTwenty {
  color: #FF9843;

}

.yellowFifty {
  color: #ddd05c;

}

.greenEighty {
  color: #91D9A3;

}

video {
  max-width: 80%;
  height: auto;
}